body {
    color: #333333;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}


/*É essa parte de baixo,*/

h1 {
    background-image: url(../img/sobre-background.jpg);
    /*background-repeat: no-repeat; - Essa parte a imagen não irá se repetir ate o final do pagina (horizontal), 
    ficará apenas o tamanho da imagem real */
}

h2 {
    border-bottom: 2px solid #333333;
}


/* ABRINDO - Colocando as imgans no centro da pagina e cores e borda ao fundo*/

figure {
    background-color: #F2EDED;
    border: 1px solid #ccc;
    /* (solid linha continua),(dashed linhas ---- ), (dotted bolinhas .....), (double 2 linhas na borda ) */
    text-align: center;
}


/*FEECHANDO*/


/*legenda para a imagem*/

figcaption {
    font-style: italic;
}

#centro-distribuicao {
    margin-left: auto;
    margin-right: auto;
    width: 550px;
}

#rodape {
    color: #777;
    margin: 30px 0;
    padding: 30px 0;
}

#rodape img {
    margin-right: 30px;
    vertical-align: middle;
    width: 94px;
}

#familia-pelho {
    float: right;
    margin: 0 0 10px 10px;
}


/* -----------------------------------------------------------CSS AVANÇADO-------------------------------------------------------------------*/

p::first-letter {
    font-weight: bold;
}

h1+p {
    text-indent: 0;
}

p::first-line {
    font-variant: small-caps;
}

p::first-line {
    font-variant: small-caps;
}


/*:not(p)+p::first-line {
    font-variant: small-caps;
} Isso significa: selecione as primeiras linhas dos parágrafos que não são precedidos por outros
parágrafos.*/